.image-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.image-container img {
    width: 400px;
    height: 200px;
    transition: transform 0.3s;
    cursor: pointer;
    border-radius: 10px;
}

.image-container:hover img {
    transform: scale(1.08);
    cursor: pointer;
}

.image-container:hover .overlay {
    cursor: pointer;
}

.w3-sidebar.animated {
    transition: transform 1s ease;
}

.modal-dialog {
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.footer {
    background-color: #273d57;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.main-photo,
.person-photo {
    border-radius: 10px;
    /* Yuvarlatılmış kenar */
    max-width: 170px;
    /* Maksimum genişlik ayarı */
    height: 250px;
    /* Genişliğe oranlı yükseklik */
    margin: 10px;
    /* Kenar boşluğu */
    float: left;

    object-fit: cover;
    /* Resimleri yan yana yerleştirir */
}

.name {
    font-size: 24px;
    /* Set the font size to your desired value */
    font-weight: bold;
    /* Make the text bold */
}

.video-container {
    width: 100%;
    max-width: auto;
    /* Remove the max-width to keep it centered */
    margin: 0 auto;
    /* Center the container horizontally */
    display: flex;
    /* Use flexbox for centering vertically */
    justify-content: center;
    /* Center horizontally within the container */
    align-items: center;
    /* Center vertically within the container */
    border-radius: 10px;
    /* Add rounded corners to the container */
    overflow: hidden;
    /* Hide any overflowing content */
}

.carousel-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-slide {
    display: none;
    width: 100%;
    transition: opacity 1s ease-in-out;
}

img {
    width: 100%;
    height: auto;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.experience-year {
    color: blue;
    /* Set the text color to blue */
    font-weight: bold;
    /* Optionally make the text bold */
}

.w3-sidebar,
.w3-bar-item {
    background-color: #0033A0;
    color: white;
}

/* styles.css */

.divider {
    width: 2px;
    background-color: #ccc;
    height: 100px;
    margin: 0 20px;
}

.footer-section h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}